.vscodeignore
.gitignore
tsconfig.json
jest.config.js
extension.webpack.config.js
.prettierrc
CHANGELOG.md
src/**
out/**
node_modules/**
test-results/**
screenshots/**
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json
**/*.ts
**/*.map
**/tsconfig*.json
**/jest.config*
